---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


1. Hernandez, C.\*, I. E. Visciglio\*, F. Vang\*, A. K. Serrano\*, G. A. Freymiller, and **M. D. Whitford**. 2026. From Seeds to Scale: An Observation of a Kangaroo Rat Scavenging a Desert Iguana. Western Wildlife 13:16–18.

2. Freymiller, G. A., **M. D. Whitford**, C. P. McGowan, T. E. Higham, and R. W. Clark. 2024. Springing into action: comparing jump performance between bipedal and quadrupedal rodents. Ecology and Evolution 14(9): e70292.

3. ILer, A. M., P. J. CaraDonna, L. K. Richardson, E. T. Wu, K. C. Pfeiler, G. A. Freymiller, K. N. Godfrey, A. J. Gorman, N. Wilson, **M. D. Whitford**, G. A. Edmonds, C. Stratton, E. S. Jules. 2023. Genotype accounts for intraspecific variation in the timing and duration of life-cycle events in willows. American Journal of Botany 110(2): e16112.

4. **Whitford, M. D.**, G. A. Freymiller, T. E. Higham, and R. W. Clark. 2022. Shaking things up: the unique feeding behavior of western banded geckos consuming scorpions. Biological Journal of the Linnean Society 135(3):533–540.

5. Freymiller, G. A., **M. D. Whitford**, M. J. Schwaner, C. P. McGowan, T. E. Higham, and R. W. Clark. 2021. Comparative analysis of Dipodomys species indicates that kangaroo rat hindlimb anatomy is adapted for rapid evasive leaping. Journal of Anatomy 240:466–474.

6. Robinson, K. E., M. L. Holding, **M. D. Whitford**, A. J. Saviola, J. R. Yates III, and R. W. Clark. 2021. Phenotypic and functional variation in venom and venom resistance of two sympatric rattlesnakes and their prey. Journal of Evolutionary Biology 34:1447–1465.

7. **Whitford, M. D.**, G. A. Freymiller, T. E. Higham, and R. W. Clark. 2020. The effects of temperature on the kinematics of rattlesnake predatory strikes in both captive and field environments. Integrative Organismal Biology 2(1): obaa025.

8. **Whitford, M. D.**, G. A. Freymiller, T. E. Higham, and R. W. Clark. 2020. The effects of temperature on the defensive strikes of rattlesnakes. Journal of Experimental Biology 223(14): jeb223859.

9. **Whitford, M. D.**, and A. P. Klimley. 2019. An overview of behavioral, physiological, and environmental sensors used in animal biotelemetry and biologging studies. Animal Biotelemetry 7(26): doi:10.1186/s40317-019-0189-z.

10. **Whitford, M. D.**, G. A. Freymiller, T. E. Higham, and R. W. Clark. 2019. Determinants of predation success: How to survive an attack from a rattlesnake. Functional Ecology 33:1099–1109.

11. **Whitford, M. D.**, G. A. Freymiller, and R. W. Clark. 2019. Managing predators: the influence of kangaroo rat antipredator displays on sidewinder rattlesnake hunting behavior. Ethology 125:450–456.

12. Freymiller, G. A., **M. D. Whitford**, T. E. Higham, and R. W. Clark. 2019. Escape dynamics of free-ranging desert kangaroo rats (Rodentia: Heteromyidae) evading rattlesnake strikes. Biological Journal of Linnaean Society 127(1):164–172.

13. Freymiller, G. A., **M. D. Whitford**, T. E. Higham, and R. W. Clark. 2017. Recent interactions with snakes enhance escape performance of desert kangaroo rats exposed to a simulated attack. Biological Journal of the Linnaean Society 122(3):651–660.

14. **Whitford, M. D.**, G. A. Freymiller, and R. W. Clark. 2017. Avoiding the serpent’s tooth: predator-prey interactions between free-ranging sidewinder rattlesnakes and desert kangaroo rats. Animal Behaviour 130:73–78.

15. **Whitford, M. D.**, G. A. Freymiller, J. M. Ryan\*, D. P. J. Steele\*, C. N. Tapia\*, and R. W. Clark. 2017. Chionactis occipitalis: hypomelanism. Herpetology Notes 10:411–412.

16. Higham, T. E., R. W. Clark, C. E. Collins, **M. D. Whitford**, and G. A. Freymiller. 2017. Rattlesnakes are extremely fast and variable when striking at kangaroo rats in nature: Three-dimensional high-speed kinematics at night. Scientific Reports DOI: 10.1038/srep40412.

17. Clark, R.W., S. W. Dorr, **M. D. Whitford**, G. A. Freymiller, and B. J. Putman. 2016. Activity cycles and foraging behaviors of free-ranging sidewinder rattlesnakes (Crotalus cerastes): the ontogeny of hunting in a precocial vertebrate. Zoology 119(3): 196–206.

18. Clark, R.W., S. W. Dorr, **M. D. Whitford**, G. A. Freymiller, and S. R. Hein. 2016. Comparison of antisnake displays in the sympatric desert rodents Xerospermophilus tereticaudus (round-tailed ground squirrels) and Dipodomys deserti (desert kangaroo rats). Journal of Mammalogy 97(6): 1709–1717.
Download PDF
